table{
    width: 100%;
    font-weight: bold;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to left , skyblue, white , skyblue);
}
tr{
    border: outset 5px !important;

}
td{
    padding: 10px;
    border: outset 5px  !important;
}
tr:hover{
    cursor: pointer;
}
th{
    color: rgb(39, 39, 39);
    font-family: fantasy;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    border: outset 5px !important;
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: aqua;
    background-image: linear-gradient(to left , skyblue, white , skyblue);
}
@media screen and (min-width:350px) and (max-width:415px) {
    th{
        font-size: 20px;
    }
    button{
        width: 10px;
        font-size: 5px;
    }
}